.container {
    text-align: center;
}

.calculator {
    box-shadow: 0px 0px 8px 1px #272727, 0px 0px 4px #272727;;
    background-color: #272727;
    border-radius: 12px;
    padding: 12px;
}

input {
    border-radius: 8px;
    height: 28px;
}

input[type=button] {
    width: 40px;
    height: 32px;
}

td[colspan="2"] > input {
    width: 100%;
}

body {
    display: flex;
    align-content: center;
    justify-content: center;
}

table {
    width: 100%;
}